# This file is part of the Yellowstone GTK theme.
#
# The Yellowstone GTK theme is free software: you can redistribute it
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# The yellowstone GTK theme is distributed in the hope that it will
# be useful, but WITHOUT ANY WARRANTY; without even the implied
# warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with the yellowstone GTK theme. If not, see
# http://www.gnu.org/licenses/.
#


style "steadyflow-window-base"
{
	bg[NORMAL]	= @base_color
}

style "steadyflow-view"
{
	xthickness		= 0
	ythickness		= 0
}

widget		"*SteadyflowMainWindow"					style "steadyflow-window-base"
widget_class	"*SteadyflowMainWindow.GtkVBox.GtkScrolledWindow"	style "steadyflow-view"
